<!-- CARDS -->
<div class="card">
  <mat-card *ngFor="let cat of cats" class="card__content">
      <mat-card-title class="card__title">{{ cat.breeds[0].name }}</mat-card-title>
  
      <mat-card-subtitle class="card__subtitle">{{ cat.breeds[0].origin }}</mat-card-subtitle>
    
      <img class="card__img" [src]="cat.url" mat-card-image alt="Foto do gato">
  
      <mat-card-actions>
        <a routerLink="/details" [queryParams]="{id: cat.id}"><button mat-raised-button color="accent">Ver mais</button></a>
        
        <button mat-icon-button color="warn" (click)="favCat(cat.id)"><mat-icon>favorite</mat-icon></button>
      </mat-card-actions>
  </mat-card>
</div>
<br>